/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html {
    box-sizing: border-box;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

:root {
    --ff-primary:'Libre Franklin', sans-serif;

    --clr-dark: #15202A;
    --clr-accent: #4C7BF3;
    --clr-light: #C2D3FF;
    --clr-input: #B8C7ED;
    --clr-gray: #969696;
    --clr-social-border: hsla(223, 87%, 63%, 0.15);
    --clr-white: #ffffff;
    --clr-error: #FF5466;

    --fw-light: 300;
    --fw-regular: 400;
    --fw-semibold: 600;
    --fw-bold: 700;
}

body {
    padding: 5rem 1.5rem 2rem;
    text-align: center;
    font-family: var(--ff-primary);
    font-size: 0.75rem;
}

.logo {
    width: 4rem;
    margin-bottom: 2rem;
}

h1 {
    font-size: 1.375rem;
    color: var(--clr-gray);
    font-weight: var(--fw-light);
    margin-bottom: 1rem;
}

.bold {
    font-weight: var(--fw-bold);
    color: var(--clr-dark);
}

.subscribe {
    color: var(--clr-dark);
}

.hero-section {
    margin-bottom: 2rem;
}

.product-img {
    width: 100%;
    margin: 5rem 0 8rem;
}

form {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}

input {
    width: 100%;
    border-radius: 10rem;
    padding: 0.75rem;
    font-family: var(--ff-primary);
}

input[type="email"] {
    border: 1px solid var(--clr-light);
}

input[type="email"]::placeholder {
    color: var(--clr-input);
    font-family: var(--ff-primary);
}

input[type="email"]:focus {
    outline: none;
    border: 1px solid var(--clr-accent);
}

.email-row {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

#error-msg {
    color: var(--clr-error);
    font-size: 0.625rem;
    font-style: italic;
    font-weight: var(--fw-regular);
}

.no-error {
    display: none;
}

input[type="submit"] {
    border: none;
    background-color: var(--clr-accent);
    color: var(--clr-white);
    font-weight: var(--fw-semibold);
    box-shadow: 0px 5px 10px 2px rgba(76, 123, 243, 0.23);
}

input[type="submit"]:hover {
    cursor: pointer;
    box-shadow: 0px 5px 10px 2px rgba(76, 123, 243, 0.23), inset 0 0 0 10rem hsla(0, 0%, 100%, 0.2);
}

.social-icons {
    display: flex;
    gap: 0.75rem;
    justify-content: center;
    margin-bottom: 1.5rem;
}

.social-icons > a:hover {
    cursor: pointer;
}

.fa-brands {
    color: var(--clr-accent);
}

i {
    border: 1px solid var(--clr-social-border);
    width: 0.75rem;
    height: 0.75rem;
    padding: 0.5rem;
    border-radius: 100%;
    box-sizing: initial;  
}

i:hover {
    background-color: var(--clr-accent);
    border: none;
}

footer {
    color: var(--clr-gray);
    font-size: 0.625rem;
}

.fa-brands:hover {
    color: var(--clr-white);
}

@media screen and (min-width: 70rem) {

    .wrapper {
        max-width: 50%;
        margin: 0 auto;
    }

    form {
        display: flex;
        flex-direction: row;
        gap: 0.75rem;
    }

    .email-row {
        flex-grow: 1;
        text-align: left;
    }

    input[type="submit"] {
        padding-left: 4rem;
        padding-right: 4rem;
    }

    #error-msg {
        padding-left: 0.75rem;
        font-size: 0.75rem;
    }

    .logo {
        width: 7rem;
        margin-bottom: 2.5rem;
    }
    
    h1 {
        font-size: 3rem;
        margin-bottom: 1.5rem;
    }

    .subscribe {
        font-size: 1.25rem;
    }
}